.auth-container {
  display: flex;
  justify-content: center;
  padding-top: 48px;

  mat-card {
    width: 100%;
    max-width: 400px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
  }

  mat-form-field {
    width: 100%;
  }

  .error {
    color: #f44336;
    margin-bottom: 8px;
  }

  .link {
    text-align: center;
    margin-top: 16px;
  }
}
