h1 {
  margin-bottom: 24px;
}

.user-card {
  max-width: 500px;
  margin-bottom: 32px;

  .roles {
    margin-top: 8px;
    display: flex;
    gap: 8px;
  }
}

.edit-form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  mat-form-field {
    width: 100%;
  }
}

.edit-actions {
  display: flex;
  gap: 8px;
}

h2 {
  margin-bottom: 16px;
}

table {
  width: 100%;
}
